{% extends 'mainapp/base.html'%}
{% load static%}


    {% block title%}
        <title>index</title>
    {% endblock%}

    {% block css%}
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="/static/css/adapt.css">
    {% endblock %}

        {% block header %}
            <div class="header">
                <header>
                    <div class="logo">
                        <a href="index.html"><p class="fig"><img class="fig" src="/static/img/logo.png"
                                                                 width="60" height="50" alt="Фотография"></p></a>
                    </div>
                </header>
            </div>
        {% endblock %}

    {% block content %}
        <div class="hed">
            <h1 align="center">Интернет магазин техники Apple</h1>
            <h2>Привет, {{username|title}}!</h2>
            {% if username == 'Aleksei'%}
                <div>Ты Алексей</div>
            {% else %}
                <div>Ты не Алексей</div>
            {% endif %}
            <i>Добро пожаловать.<p align="center"></i></p><br>
        </div>
        <div class="homeimgg">
            <a href="iphoneX.html" target="_blank"><img src="/static/img/IphoneX.home.jpg" width="1300" heght="30" class="home"></a>
        </div>

        <div class="homeimg">
            <div class="homeimg1">
                <a href=""><img src="/static/img/apple-watch-series-3.jpg" alt="watch" width="630" height="530"></a>
            </div>

            <div class="homeimg2">
                <a href=""><img src="/static/img/ios11.png" alt="IOS11" width="630" height="530"></a>
            </div>

            <div class="homeimg3">
                <a href=""><img src="/static/img/macos-sierra.jpg" alt="macos-sierra" width="630" height="530"></a>
            </div>

            <div class="homeimg4">
                <a href=""><img src="/static/img/Apple-TV-4K.png" alt="Apple-TV" width="630" height="530"></a>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div class="footer">
            <footer>
                <hr>
                <div class="fot"><p>&copy;Все права защищены.</p></div>
            </footer>
        </div>
    {% endblock %}