{% extends 'mainapp/base.html'%}

    {% block title %}
        <title>интернет Магазин</title>
    {% endblock %}

    {% block css%}
        <link rel="stylesheet" type="text/css" href="/statics/css/style.css">
    {% endblock %}

    {% block header %}
         <div class="header">
         <header>
           <div class="logo">
              <a href="index.html"><p class="fig"><img class="fig" src="/static/img/logo.png"
              width="60" height="50" alt="Фотография"></p></a>
            </div>
         </header>
         </div>
    {% endblock %}

    {% block content %}
             <div class="home">
               <p><a href="/">Главная</a> >  Iphone X </p>
             </div>

           <h1 align="center" class="h1"> <ins>Iphone X</ins></h1>
           <h2 class="h2">Описание товара &copy;</h2>
             <p class="short"> <dfn>Мы всегда мечтали сделать iPhone одним большим дисплеем. Настолько впечатляющим дисплеем, <br>
             чтобы вы забывали о самом физическом устройстве. И настолько умным устройством, чтобы оно <br>
            реагировало на прикосновение, слово и даже взгляд. iPhone X воплощает мечту в реальность.
            Это смартфон будущего.</dfn></p>

           <h3 class="h3">Характеристики товара</h3>
           <ul class="ch">
               <li>Ёмкость - 64 ГБ </li>
               <li>Размеры: 143,6×70,9×7,7 мм </li>
               <li>Вес: 174 г  </li>
               <li>Дисплей Super Retina HD </li>
               <li>Распознавание лица с помощью камеры TrueDepth  </li>
               <li>Запись видео 4K с частотой 24, 30 или 60 кадров/с </li>
           </ul>
           <br>
           <table border="1">
               <tr>
                   <th >Ёмкость - 32 ГБ</th>
                   <td rowspan="5">Размеры: 143,6×70,9×7,7 мм</td>
                   <td rowspan="5">Вес: 174 г</td>
                   <td rowspan="5">Дисплей Super Retina HD</td>
               </tr>
               <tr>
                   <th>Ёмкость - 64 ГБ</th>
               </tr>
               <tr>
                   <th>Ёмкость - 128 ГБ</th>
               </tr>
               <tr>
                   <th>Ёмкость - 256 ГБ</th>
               </tr>
               <tr>
                   <th>Ёмкость - 500 ГБ</th>
               </tr>
           </table>
           <h3 class="h3">Подробное описание товара</h3>
           <p class="detailed"><b>Дисплей Super Retina</b> </p>
        <p class="de">Совершенно новый дисплей Super Retina с диагональю 5,8 дюйма, который удобно лежит в руке и потрясающе выглядит, — это и есть iPhone X. </p>

        <p class="detailed"><b>Инновационные технологии</b></p>
        <p class="de">Дисплей и элегантно закруглённый по углам корпус интегрированы ещё лучше — мы смогли добиться этого, используя несколько уникальных технологий. </p>

        <p class="detailed"><b>OLED для iPhone X</b></p>
        <p class="de">Это первый OLED-дисплей, соответствующий высшим стандартам iPhone: невероятно яркие цвета отображаются с поразительной точностью, чёрный цвет выглядит естественно, а контрастность достигает показателя 1 000 000:1. </p>

        <p class="detailed"><b>Камера TrueDepth</b></p>
        <p class="de">В миниатюрном модуле скрыты наши самые передовые технологии и возможности, в том числе камеры и сенсоры, обеспечивающие работу Face ID. </p>

        <p class="detailed"><b>Новый корпус</b></p>
        <p class="de">Такого прочного стекла с обеих сторон у iPhone ещё не было. Хирургическая нержавеющая сталь. Беспроводная зарядка. А также защита от воды и пыли. </p>

        <p class="detailed"><b>Естественные жесты</b></p>
        <p class="de">Простые и привычные жесты делают навигацию совершенно понятной. Теперь не нужно нажимать кнопку, чтобы попасть на главный экран, — достаточно просто смахнуть по дисплею в любой его точке. </p>

        <p class="detailed"><b>Безопасная аутентификация</b></p>
        <p class="de">Теперь ваш пароль — это ваше лицо. Новая технология Face ID позволяет разблокировать телефон, выполнять аутентификацию и оплачивать покупки. С соблюдением требований безопасности. </p>

        <p class="detailed"><b>Картирование лица</b> </p>
        <p class="de">Face ID работает на основе технологий камеры TrueDepth и легко настраивается. На ваше лицо проецируется более 30 000 невидимых точек, а затем на основе полученных данных создаётся его точная структурная карта. </p>

        <p class="detailed"><b>Apple Pay</b> </p>
        <p class="de">Технология Face ID надёжна и безопасна, поэтому её можно применять с Apple Pay. Теперь для оплаты покупки достаточно одного взгляда. </p>

        <p class="detailed"><b>Селфи в режиме «Портрет»</b></p>
        <p class="de">Снимайте прекрасные селфи с чётким передним планом и художественно размытым фоном. </p>

        <p class="detailed"><b>Портретное освещение</b> </p>
        <p class="de">Новая функция режима «Портрет», которая позволяет применять выразительные эффекты, имитирующие студийный свет. </p>

        <p class="detailed"><b>Animoji</b> </p>
        <p class="de">Камера TrueDepth анализирует мимику более 50 лицевых мышц, а затем на её основе анимируются 12 Animoji. </p>

        <p class="detailed"><b>Улучшенная камера</b> </p>
        <p class="de">Увеличенная и более быстрая матрица 12 Мп. Новый цветофильтр. Более глубокие пиксели. И новая камера с телеобъективом и оптической стабилизацией изображения.</p>

        <p class="detailed"><b>Портретное освещение</b> </p>
        <p class="de">Камеры с определением глубины пространства и точечная система распознавания контуров лица создают удивительные эффекты, имитирующие студийное освещение. </p>

        <p class="detailed"><b>Двойная оптическая стабилизация</b> </p>
        <p class="de">Оба объектива задней камеры поддерживают оптическую стабилизацию изображения и работают невероятно быстро, обеспечивая великолепное качество фотографий и видео даже при низкой освещённости. </p>

        <p class="detailed"><b>Оптический зум</b> </p>
        <p class="de">Широкоугольный и телеобъектив на iPhone X поддерживают как оптический, так и цифровой зум с увеличением до 10 раз при фотосъёмке и до 6 раз при съёмке видео. </p>

        <p class="detailed"><b>Нейронная система</b> </p>
        <p class="de">Представляем A11 Bionic. Самый мощный и интеллектуальный процессор, когда-либо созданный для iPhone. С нейронной системой и скоростью до 600 миллиардов операций в секунду. </p>

        <p class="detailed"><b>Более быстрый процессор</b> </p>
        <p class="de">Скорость четырёх ядер эффективности до 70% выше, чем у процессора A10 Fusion. А скорость двух ядер производительности — до 25% выше. </p>

        <p class="detailed"><b>Адаптивная технология распознавания</b> </p>
        <p class="de">Благодаря технологиям машинного обучения Face ID адаптируется к изменениям вашей внешности.</p>

        <p class="detailed"><b>Энергоэффективность</b> </p>
        <p class="de">Контроллер производительности второго поколения и аккумулятор специальной конструкции позволяют iPhone X работать без подзарядки до двух часов дольше, чем iPhone 7.</p>

        <p class="detailed"><b>Графический процессор Apple</b> </p>
        <p class="de">Новый 3-ядерный графический процессор работает до 30% быстрее, чем A10 Fusion.</p>

        <p class="detailed"><b>Дополненная реальность</b> </p>
        <p class="de">Процессор A11 Bionic открывает невероятные возможности для игр и приложений с дополненной реальностью.</p>
           <div class="shortop">
               <div class="shortop1">
                 <a  href="iphoneX.big.jpg" target="_blank"><img src="/static/img/silver_14.435x435.jpg" alt="Iphone X" class="bord"><br></a>
                 <form>
                    <input type="button" value="Купить">
                 </form>
               </div>
               <div class="shortop2">
                  <p><dfn>Мы всегда мечтали сделать iPhone одним большим дисплеем. Настолько впечатляющим дисплеем, <br>
                  чтобы вы забывали о самом физическом устройстве. И настолько умным устройством, чтобы оно <br>
                  реагировало на прикосновение, слово и даже взгляд. iPhone X воплощает мечту в реальность.
                  Это смартфон будущего.</dfn></p>
              </div>
           </div>
    {% endblock%}

    {% block footer %}
       <div class="footer">
        <footer>
        <hr>
        <div class="fot"><p>&copy;Все права защищены.</p></div>
        </footer>
       </div>
    {% endblock %}