{% extends 'mainapp/base.html'%}

    {% block title %}
        <title>интернет Магазин</title>
    {% endblock %}

    {% block css%}
        <link rel="stylesheet" type="text/css" href="/statics/css/style.css">
    {% endblock %}

    {% block header %}
         <div class="header">
         <header>
           <div class="logo">
              <a href="index.html"><p class="fig"><img class="fig" src="/static/img/logo.png"
              width="60" height="50" alt="Фотография"></p></a>
            </div>
         </header>
         </div>
    {% endblock %}

    {% block content %}
             <div class="home">
               <p><a href="/">Главная</a> >  Ipnone 8 </p>
             </div>

           <h1 align="center" class="h1"> <ins>Iphone 8</ins></h1>
           <h2 class="h2">Описание товара &copy;</h2>
           <p><dfn>Для iPhone 8 мы разработали совершенно новый дизайн, в котором передняя и задняя панели выполнены из стекла. <br>
           Самая популярная камера усовершенствована. Установлен самый умный и мощный процессор, когда-либо созданный для iPhone. <br>
           Без проводов процесс зарядки становится элементарным. А дополненная реальность открывает невиданные до сих пор возможности. <br>
           iPhone 8. Новое поколение iPhone.</dfn></p>
           <h3 class="h3">Характеристики товара</h3>
           <ul>
               <li>Ёмкость - 64 ГБ </li>
               <li>Размеры: 138,4×67,3×7,3 мм </li>
               <li>Вес: 148 г  </li>
               <li>Дисплей Retina HD </li>
               <li>Датчик идентификации по отпечатку пальца, встроенный в кнопку «Домой» </li>
               <li>Камера 12 Мп</li>
           </ul>
              <table border="1">
               <tr>
                   <th >Ёмкость - 32 ГБ</th>
                   <td colspan="3">Размеры: 143,6×70,9×7,7 мм,Вес: 174 г,Дисплей Super Retina HD</td>
               </tr>
               <tr>
                   <th>Ёмкость - 64 ГБ</th>
                   <td colspan="3">Размеры: 143,6×70,9×7,7 мм,Вес: 174 г,Дисплей Super Retina HD</td>
               </tr>
               <tr>
                   <th>Ёмкость - 128 ГБ</th>
                   <td colspan="3">Размеры: 143,6×70,9×7,7 мм,Вес: 174 г,Дисплей Super Retina HD</td>
               </tr>
               <tr>
                   <th>Ёмкость - 256 ГБ</th>
                   <td colspan="3">Размеры: 143,6×70,9×7,7 мм,Вес: 174 г,Дисплей Super Retina HD</td>
               </tr>
               <tr>
                   <th>Ёмкость - 500 ГБ</th>
                   <td colspan="3">Размеры: 143,6×70,9×7,7 мм,Вес: 174 г,Дисплей Super Retina HD</td>
               </tr>
           </table>
           <h3 class="h3">Подробное описание товара</h3>
           <p>
        <b>Корпус полностью из стекла</b> <br>
        Такого прочного стекла с обеих сторон у iPhone ещё не было. Рамка в тон корпусу выполнена из алюминия, применяемого в аэрокосмической отрасли.<br> <br>

        <b>Защита от воды и пыли</b> <br>
        Благодаря продуманному инженерному решению корпус iPhone 8 отлично защищён от воды, брызг и пыли. <br> <br>

        <b>Совершенно новый дисплей</b> <br>
        Изображение на дисплее Retina HD стало ещё точнее и красивее. Новый дисплей поддерживает расширенный цветовой охват, технологии True Tone и 3D Touch. <br> <br>

        <b>True Tone</b> <br>
        Технология True Tone автоматически настраивает баланс белого с учётом освещения. Чтобы радовать глаз в любом случае. <br> <br>

        <b>Совершенно новая матрица</b> <br>
        Новая камера 12 Мп с увеличенной и более быстрой матрицей. Новый цветофильтр. Более глубокие пиксели. Оптическая стабилизация изображения для фото и видео. <br> <br>

        <b>Более быстрый процессор</b> <br>
        Представляем A11 Bionic. Четыре ядра, отвечающие за эффективность, работают до 70% быстрее, чем в процессоре A10 Fusion.
        А ещё два ядра, отвечающие за производительность, — до 25% быстрее. <br> <br>

        <b>IOS</b> <br>
        iOS — самая совершенная, интуитивно понятная и безопасная мобильная операционная система в мире. С ней вам доступны все возможности iPhone. <br> <br>

        <b>Дополненная реальность</b> <br>
        Процессор A11 Bionic открывает невероятные возможности игр и приложений с дополненной реальностью. Такого вы ещё не видели. <br> <br>


           </p>
           <a  href="iphone8.big.jpg" target="_blank"><img src="/static/img/iphone8.jpg" alt="Iphone8" class="bord"> <br>Iphone 8</a>
    {% endblock %}

    {% block footer %}
       <div class="footer">
        <footer>
        <hr>
        <div class="fot"><p>&copy;Все права защищены.</p></div>
        </footer>
       </div>
    {% endblock %}
