{% extends 'mainapp/base.html'%}

    {% block title %}
        <title>Интернет магазин</title>
    {% endblock%}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% endblock %}

    {% block header %}
         <div class="header">
         <header>
           <div class="logo">
              <a href="index.html"><p class="fig"><img class="fig" src="/static/img/logo.png"
              width="60" height="50" alt="Фотография"></p></a>
            </div>
         </header>
         </div>
    {% endblock %}

    {% block content %}
         <div class="home">
           <p><a href="/">Главная</a> >  Каталог </p>
         </div>

           <div class="catalog"><h1>Каталог</h1>
            <div class="catalog1">
             <a href="iphoneX.html"><img src="/static/img/iphoneX.jpg"></a><br>
             <a class="catalog1in" href="iphoneX.html">Iphone X</a>
             <p>IPNONE X<br>50 490р</p>
             <form >
                 <input type="button" value="Купить">
             </form>
            </div>

            <div class="catalog2">
             <a href="iphone8.html"><img src="/static/img/iphone8.jpg"></a><br>
             <a href="iphone8.html">Iphone 8</a>
             <p>IPNONE 8<br>40 490р</p>
             <form >
                 <input type="button" value="Купить">
             </form>
            </div>

            <div class="catalog3">
             <a href=""><img src="/static/img/watch.jpg" width="256" height="256"></a><br>
             <a href="">Watch</a>
             <p>Series 3<br>24 000р</p>
             <form >
                 <input type="button" value="Купить">
             </form>
            </div>

            <div class="catalog4">
             <a href=""><img src="/static/img/apple-tv.jpg" width="256" height="256"></a><br>
             <a href="">Apple TV 4K</a>
             <p>Apple TV 4K<br>13 490р</p>
             <form >
                 <input type="button" value="Купить">
             </form>
            </div>

            <div class="catalog4">
             <a href=""><img src="/static/img/ipad-mini4.png" width="256" height="256"></a><br>
             <a href="">iPad mini 4</a>
             <p>iPad mini 4<br>29 490р</p>
             <form >
                 <input type="button" value="Купить">
             </form>
            </div>
          </div>
    {% endblock %}

    {% block footer%}
       <div class="footer">
        <footer>
        <hr>
        <div class="fot"><p>&copy;Все права защищены.</p></div>
        </footer>
       </div>
    {% endblock %}
